<header>

  <div class="row page-header">
    <div class="col-md-3">
      <img class="img-responsive img-circle pull-right img-header" src="/images/IMG_0140.png">
    </div>
    <div class="col-md-9">
      <div>
        <h1><a href="/">{{ site.title }}</a><small> (<a href="https://twitter.com/{{ site.username }}">@{{ site.username }}</a>)</small></h1>
        <small>{{ site.description }}</small>
        <!-- if these don't appear it's to do with ad blockers -->
        {% include social-buttons.html %}
      </div>
    </div>
  </div>

</header>
